$primary: #004876;
$secondary: #6c757d;
$success: #10713D;
$info: #2c7571;
$warning: #8C5C03;
$danger: #9E2821;
$light: #f8f9fa;

@import "~bootstrap/scss/bootstrap.scss";

a {
  font-size: 125%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
